<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


	<body>
		<div class="page">
			<div class="header">
				<div class="ucitavanje">
					<div class="data">
						<form action="{% url 'load_data_plugin' %}" method="post" onsubmit="return validateDataPlugin()">
							{% csrf_token %}
					<span class="podnaslov">Učitavanje</span>
							<table>
								<tr>
									<td>Izaberite izvor:</td>
									<td>
										<select id="izvorSelect" name="izvorSelect" onchange="checkIfFajlSelected()">
											<option value="fajl" selected>Fajl sistem</option>
											<option value="url">Url adresa</option>
										</select>
									</td>
									<td><input class="podnaslov" type="file" name="inputFile" id="inputFile" onchange="file_selected = true;" /></td>
									<td class="urlCls" style="display: none">Unesite url:</td>
									<td class="urlCls" style="display: none"><input type="text" name="urlInput" id="urlInput"/></td>
								</tr>
								<tr>
									<td>Izaberite plugin:</td>
									<td>
										<select name="dataPluginSelect">
											{% if config.data_plugins %}
												{% for d in config.data_plugins %}
													<option value="{{ d.identifier }}" selected>{{d.name}}</option>
												{% endfor %}
											{% else %}
												<option>Trenutno nema plugina</option>
											{% endif %}
										</select>
									</td>
									<td >
										<div class="wrap">
										<input class="button" type="submit"  value="Učitaj podatke" name="ucitajPodatkeInput" id="ucitajPodatkeInput"/>
										</div>
									</td>
								</tr>
							</table>
						</form>

					</div>
				</div>
				<div class="searchAndFilter">
					<div class="pretragaForme">
						<form action="{% url 'search_graph' %}" method="post" onsubmit="return validateSearch()" class="forma1">
							{% csrf_token %}

							<span class="podnaslov">Pretraga</span>
							<table >
								<tr>
									<td> <input type="text" placeholder="Unesite atribute za pretragu..." size=40 id="searchPolje" name="searchPolje" /> </td>
								</tr>
								<tr>
									<td><input class="button" type="submit"  name="search" value="SEARCH"  style="width:150px" /> </td>
								</tr>
							</table>
						</form>

					</div>
				</div>
				<div class="views">
					<span class="podnaslov">Vizuelizacija</span>
					<form action="{% url 'load_view_plugin' %}" method="post">
						{% csrf_token %}
						<table>
							<tr>
								<td>Izaberite plugin za vizualizaciju:</td>
								<td>
									<select name="viewPluginSelect">
										{% if config.view_plugins %}
											{% for v in config.view_plugins %}
												<option value="{{ v.identifier }}" selected>{{v.name}}</option>
											{% endfor %}
										{% else %}
											<option>Trenutno nema plugina</option>
										{% endif %}
									</select>
								</td>
								<td>
									<input class = "button" type="submit" value="Prikaži" />
								</td>
							</tr>
						</table>
					</form>

				</div>
						<form action="{% url 'reset_to_default_graph' %}" method="post" class="reset">
							{% csrf_token %}
							<input type="submit" class= "button" value="RESET"/>
						</form>
			</div>


			<div class="left">
				<h2 style="text-align: center; border:3px solid green;">Tree view</h2>
				{% if config.graph %}
					<ul>
					{% for node in config.graph.get_list_roots %}
						<li class="list" id="{{node.Id}}">{{node.name}}<ul id="list{{node.Id}}"></ul></li>
					{% endfor %}
					</ul>
				{% else %}
					Trenutno nema prikaza!
				{% endif %}


			</div>


			<div class="center">
				<svg width='100%' height='100%' id='svgMain'>
					<defs>
						<radialGradient id="gradientVertex" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
							<stop offset="0%" style="stop-color:#81e8f6;" />
							<stop offset="10%" style="stop-color:#76deef;" />
							<stop offset="80%" style="stop-color:#055194;" />
							<stop offset="100%" style="stop-color:#062745;" />
						</radialGradient>

						<radialGradient id="gradientVertex2" cx="50%" cy="120%" r="50%" fx="50%" fy="50%">
							<stop offset="0%" style="stop-color:rgba(255, 255, 255, 0);" />
							<stop offset="98%" style="stop-color: rgba(200,255,200,0.2);" />
						</radialGradient>
					</defs>
					<g id="rootMain">
						<g id="linksMain"></g>
						<g id="nodesMain"></g>
					</g>
						<rect width=300 height=205 style="fill:#969aadf0;"></rect>
				</svg>
				{% block content %}
				{% if config.currentViewPluginHtml %}
					{{ config.currentViewPluginHtml | safe }}
				{% endif %}
				{% endblock %}



			</div>

		</div>

	</body>



</html>